.bluetext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #515151;
	text-decoration: none;
	line-height: 18px;

}

.blacktext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
	line-height: 18px;
}
/*.bannercolor{

background:#122246 !important;
color:#FFF ! important;

}*/

.footertext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
/*.titlered {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #122246;
	text-decoration: none;
}*/
.maintext { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FF6600; line-height: 14px}

.titlecolor {	
	background-color: #122246;	
}
.bodycolor {	
	background-color: #fcfcfc;
}
.bodycolor1{
	background-color: lightblue;	
}
.maintext1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #669900;
	line-height: 14px;
	font-weight: bold;

}
 .maintextbold20 {
	font-family: Arial;
	font-size: 18px;
	color: #000000;
	line-height: 14px;
	font-weight: bold;
	font-variant:small-caps;
}

.maintextbold201 {
	font-family: Arial;
	font-size: 34px;
	color: #476C94;
	line-height: 22px;
	font-weight: bold;	
}

.bluesmalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #515151;
	text-decoration: none;
	line-height: 18px;

}
.titlewhite {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.blacksmalltext1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}

.blacksmalltextub {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.error-text {
	FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.whitesmalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 18px;

}
.black-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 18px;

}
.blackoverred {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.blackoverred:hover {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #122246;
	text-decoration: none;
	line-height: 18px;
}
.form1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	left: 20px;
	text-align: left;
	text-indent: 2pt;
	word-spacing: 2px;
	display: inline;
	background-color: #FFFFFF;
	border: 1px solid #666666;

}

.maintitle1 {
	FONT-FAMILY: arial;
	FONT-SIZE: 30px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	color: #FFFFFF;
}
.maintextbold20 {
	font-family: Arial;
	font-size: 25px;
	color: #000000;
	line-height: 30px;
	font-weight: bold;
	
}

.lineheight30 {	
	line-height: 3px;	
}

.sitemaplinks {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; line-height: 21px; font-weight: bold
}
A.whitesmalltext:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 18px;
	text-decoration: underline;
	font-weight: bold;
}
A.whitesmalltext:link, A.whitesmalltext:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
	color: #FFFFFF;

}
.btnOk
{
    BACKGROUND: #003f98;
    COLOR: white;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
	cursor: pointer
}

.btnCancel
{
    BACKGROUND: red;
    COLOR: white;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
	cursor: pointer
}
.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	line-height: normal;
	color: #FFFFFF;
	background-color: #696969;
	margin: 1px;
	}
.buttonBig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	line-height: normal;
	color: #FFFFFF;
	background-color: #696969;
	margin: 1px;
	}
.verdana12white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #ff0000;
	text-decoration: none;
}
.footertext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
/*.titlered {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #122246;
	text-decoration: none;
}*/
.bluesmalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #515151;
	text-decoration: none;
	line-height: 18px;

}
.titlewhite {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.blacksmalltext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
/*.blacksmalltext:hover {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #515151;
	text-decoration: none;
	line-height: 18px;
}*/
.error-text {
	FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.whitesmalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	line-height: 18px;

}.blackoverred {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.blackoverred:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#122246;
	text-decoration: none;
	line-height: 18px;
}

.buttons {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #D33425;
	border: 1px solid #404040;
	font-weight: bold;
}
.brdr {
	border: 1px solid #122246;
}
.seatsnum{ font:bold 12px Arial, Helvetica, sans-serif; color:#FFFFFF;}
.seatsnum a{ color:#FFFFFF; text-decoration:none; text-transform:uppercase;}
.seatsnum a:hover{ color:#E66425; text-decoration:none; text-transform:uppercase; 
background:#F6F6F6; border:#BABABA solid 1px;}


/******seats*****/

.ladies{
background:#B40404;
width:45px;
height:30px;
padding-top:6px;
}
.available{
background:#2DA54B;
width:45px;
height:30px;
padding-top:6px;
}
.Selected{
background:#FFD511;
width:45px;
height:30px;
padding-top:6px;
}
.booked{
background:#E66425;
width:45px;
height:30px;
padding-top:6px;
}
.trbgcolor{
background:#122246 !important;
}
