﻿<!DOCTYPE html>

<html>
<head>
    <base>
    <title>Online bus ticket booking : MJT Travels</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="created" content="Sat, 02 Mar 2013 06:31:35 GMT">
    <meta name="keywords" content="MJT Travels, MJT Travels online booking, Online bus tickets, Online Sleeper bus tickets,  MJT Travels online bus ticket booking">
    <meta name="description" content="MJT Travels is a leading bus operator. Book online bus tickets to Chennai, Trichy, Aranthangi, Pudukkottai, Perambalur.">
    <link rel="shortcut icon" href="asset/images/fav_icon.ico" />

    <!-- Bootstrap core CSS -->
    @*<link href="../mjt/asset/css/bootstrap.css" rel="stylesheet">*@
    <link href="../mjt/asset/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../mjt/asset/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="../mjt/asset/css/font-awesome.css" rel="stylesheet">
    <link href="../mjt/asset/css/stylea87f.css?4" rel="stylesheet">

    <script src="../mjt/asset/js/jquery.min.js"></script>
    <script src="../mjt/asset/js/jquery-ui.min.js"></script>
    <script src="../mjt/asset/js/bootstrap.js"></script>
    <script src="../mjt/asset/js/moment.js"></script>
    <script src="../mjt/asset/js/modernizr-2.6.2.min.js"></script>
    <script src="../mjt/asset/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="../mjt/asset/js/custom.js"></script>
    <script src="../mjt/asset/js/page3d7b.js?a=3"></script>

    <style type="text/css">
        nav .nav-item a {
            color: white !important;
            font-weight: bold;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
