﻿<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
      @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    @*@Scripts.Render("~/bundles/vendor")*@

    @*<script src="~/Scripts/Angular/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/Angular/angular-animate.js"></script>
    <script src="~/Scripts/Angular/angular-aria.js"></script>
    <script src="~/Scripts/Angular/angular-messages.min.js"></script>
    <script src="~/Scripts/AngularMaterial/angular-material.js"></script>
    <link href="~/Content/angular-material.css" rel="stylesheet" />
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/app.config.js"></script>
    <script src="~/Scripts/app/Home/home.controller.js"></script>*@
    @*<script type="text/javascript">
        'use strict';
        angular.module('app', ['ngMaterial']);
    </script>*@

    @*<base href="/" />*@


</head>
<body>

    @*<script src="Scripts/Angular/angular.js"></script>
        <script src="Scripts/Angular/angular-animate.js"></script>
        <script src="Scripts/Angular/angular-aria.js"></script>
        <script src="Scripts/Angular/angular-messages.min.js"></script>
        <script src="Scripts/AngularMaterial/angular-material.js"></script>
        <link href="Content/angular-material.css" rel="stylesheet" />
        <script type="text/javascript">
            angular.module('BlankApp', ['ngMaterial']);

        </script>*@


    @*<div class="navbar navbar-inverse navbar-fixed-top">

        @* @Html.Partial("MenuLeftPane")*@
    @Html.Partial("_LeftSideBarMenu")
    <div class="container body-content">
        <div>
            @RenderBody()
        </div>
    </div>
    <md-toolbar layout="row" layout-align="end end">
        <p>&copy; @DateTime.Now.Year - Powered By Taha Groups</p>
    </md-toolbar>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
    @Scripts.Render("~/bundles/vendor")


</body>
</html>























































