#bg-slider .buyyourtickets{ margin-bottom:25px; position:absolute; z-index:999; color:#fff; } 
#bg-slider .buyyourtickets h2{ color:#ff6100; text-align:left; padding-top:42px; }
#bg-slider .buyyourtickets {background:url(../images/c-left-bot.html) no-repeat bottom; padding:0px 10px 30px 30px;  }
#bg-slider .buyyourtickets table{ margin-top:0px;}
#bg-slider .buyyourtickets label{ display: block; padding-top:7px; text-align:left; margin-right:5px; float:left; width:41px; }
#bg-slider .buyyourtickets input[type="radio"]{ margin:10px 0px 5px  20px; }
#bg-slider .buyyourtickets input[type="text"]{width:146px; background-color:#e6e5e5; border:solid 1px #fff; padding:2px; font-size:11px; color:#333}
#bg-slider .buyyourtickets input[type="date"]{width:100px; background-color:#e6e5e5; border:solid 1px #fff;  padding:2px; font-size:11px; margin-left:5px; color:#333 }
#bg-slider .buyyourtickets input[type="submit"]{ background:url(../images/btn_searchbus.html) no-repeat; display:block; border:none; width:129px; height:47px; margin:5px 0px 0px 40px;}

/*Banner End*/


/*main page start*/

#bg-slider1 {float:left; width:938px; overflow:hidden; position:absolute; height:390px; }
#bg-slider1 .slider-wrap { position:absolute; left:50%; margin-left:-470px; top:0;}	
#faded1{ width:938px;}
.pagination1 { padding:6px 11px 0 11px; overflow:hidden; position:absolute; left:466px; top:356px; height:32px; z-index:9999;}		
.pagination1 ul {overflow:hidden;}
.pagination1 li {float:left; list-style:none }
.pagination1 a { background:url(../images/gallery_btn.html) right top no-repeat ; display:block; width:24px; height:24px; margin-right:4px; text-indent:-5000px;	float:left !important; position:relative !important;}
.pagination1 a:hover, .current a{ background:url(../images/gallery_btn.html) left top no-repeat !important;}


#main{ margin-top:390px; margin-left:0px; overflow:hidden;}
#main .main-left{width:705px; float:left;}
#main .main-left .adds{background: url(../images/bg-adds.html) no-repeat; height:284px; width:705px; }
#main .main-left .left-bot{margin-top:15px;}
#main .main-left .left-bot a{ }
#main .main-left .left-bot .top{ background:url(../images/bg-left-bot-top.html) no-repeat; padding:2px 10px 10px 10px; overflow:hidden; font-size:16px; color:#fff;}
#main .main-left .left-bot .top .left{float:left; width:232px; padding-left:76px;}
#main .main-left .left-bot .top .right{float:right; width:236px; padding-left:95px;  }
#main .main-left .left-bot .top .right h3{ padding:0px; margin:0px;}
#main .main-left .left-bot .bot{ background:url(../images/bg-left-bot-bot.html) no-repeat bottom; padding:10px 10px 25px 30px; overflow:hidden;}
#main .main-left .left-bot .bot .left{ float:left; color:#565656; font-size:13px;}
#main .main-left .left-bot .bot .left img{ margin-top:10px;}
#main .main-left .left-bot .bot .left ul li{ list-style-image:url(../images/dot.html); } 
#main .main-left .left-bot .bot .right{float:right; width:350px; color:#565656; font-size:16px; font-style:italic; font-weight:bold; padding-top:10px; line-height:25px; padding-right:10px; }
#main .main-left .left-bot .bot .right span{ color:#3366CC; font-weight:bold; text-align:right; margin-top:20px; display:block;}

#main .main-left-sub {width:705px; float:left;}
#main .main-left-sub .left-bot{ width:705px;}
#main .main-left-sub .left-bot  h1{  background:url(../images/bg-left-bot-sub-top.html) no-repeat; padding:3px 10px 10px 38px; font-size:18px; color:#fff; font-style:normal;}
#main .main-left-sub .left-bot  p{ margin:10px 0px 10px 0px;}
#main .main-left-sub .left-bot .top .left{float:left; width:232px; padding-left:76px;}
#main .main-left-sub .left-bot .bot{ background:url(../images/bg-left-bot-sub-bot.html) no-repeat bottom; padding:10px 10px 25px 30px; overflow:hidden;}
#main .main-left-sub .left-bot .bot .left{  color:#565656; font-size:13px; overflow:hidden;}
#main .main-left-sub .left-bot .bot .left img{ margin-top:10px;}
#main .main-left-sub .left-bot .bot .left ul li{ list-style-image:url(../images/dot.html); } 
#main .main-left-sub .left-bot .bot .left h2{ font-size:13px;  background:#fec600; padding:10px; color:#000; margin:10px 16px 20px 10px}
#main .main-left-sub .left-bot .bot .left h3{ color:#308125}
#main .main-left-sub .left-bot .bot .left .coninfo{ background:#ECECEC; padding:10px; color:#323232; width:290px; float:left; margin:10px; min-height:160px;}



#main .main-right{width:255px; float:right; margin-top:0px; margin-right:2px;}
#main .main-right .login h2{background:url(../images/c-right-top.html) no-repeat;  color:#fff; padding:11px 10px 9px 20px; overflow:hidden; text-align:center;}
#main .main-right .login .bot{background:url(../images/c-right-bot.html) no-repeat bottom; padding:5px 15px 30px 15px; color:#4a4a4a; }
#main .main-right .login .bot p{padding:0px 0px 10px 0px; }
#main .main-right .login .bot label{ display:block; padding-top:7px ; text-align:left;}
#main .main-right .login  .bot input[type="text"]{width:170px; background-color:#fff; border:solid 1px #aaaaaa; color:#333; padding:2px;}
#main .main-right .login  .bot input[type="submit"]{ background:url(../images/btn_login.html) no-repeat; display:block; border:none; width:112px; height:38px; margin:15px 0px 0px 64px;}
#main .main-right .login  .bot a{color:#1e5c2c; margin:8px 0px 8px 5px; display:block;}
#main .main-right .login  .bot a:hover{color:#000;}
#main .main-right .c-add { margin-top:15px;}
#main .main-right .c-add h2{background:url(../images/c-right-top.html) no-repeat;  color:#fff; padding:11px 10px 9px 20px; overflow:hidden; text-align:center; }
#main .main-right .c-add .bot{background:url(../images/c-right-bot.html) no-repeat bottom; padding:5px 15px 30px 15px; color:#3c3c3c; }
#main .main-right .c-add .bot a{ text-decoration:none;color:#3c3c3c; border-bottom:solid 1px #c6c6c6; padding:2px 2px 2px 2px; display:block;}

/*main page End*/
#main #sub-main{ width:604px; background:url(../images/sub-top.html) no-repeat;  float:right; margin:128px 2px 0px 0px; padding:20px 20px 20px 20px; border-bottom: solid 4px #339900;}
#main #sub-main h1{color:#f5cb1e; padding:56px 5px 10px 0px;}
#main #sub-main p{padding-top:20px;}
#main #sub-main .aboutus{overflow:hidden;}
#main #sub-main .aboutus img{ float:left; margin-right:20px;}
#main #sub-main .gallery h2{padding-bottom:10px; color:#ff6100;} 
#main #sub-main .gallery{margin-top:20px;}
#main #sub-main .gallery img{padding:10px}
/*main page end-aboutus*/


#sub-page1{ background:url(../images/bg_sub.html) repeat-y; padding:20px; margin-bottom:20px; border-bottom: solid 4px #339900;}
#sub-page1 h1{}

#sub-contactinfo{ background:url(../images/bg_sub.html) repeat-y; padding:20px; margin-bottom:20px; border-bottom: solid 4px #339900; overflow:hidden;}
#sub-contactinfo h1{ color:#f5cb1e;}
#sub-contactinfo a{ color:#FDCB01;}
#sub-contactinfo a:hover{ color:#Fff;}
#sub-contactinfo  h3{color:#FF6100; font-size:16px;}
#sub-contactinfo b{color:#FDCB01; font-size:13px;}
#sub-contactinfo table{ width:416px; padding-top:2px;}
#sub-contactinfo table tr td{padding:3px 3px 3px 5px; background-color:#05497f;}
#sub-contactinfo .con-left{ width:418px; float:left;}
#sub-contactinfo .con-left .phno{background:#002f54; width:418px;  padding:10px; margin-top:20px;}
#sub-contactinfo .con-right { width:418px; float:right; margin-right:20px;}
#sub-contactinfo .con-right .phno{background:#002f54; width:418px;  padding:10px; margin-top:20px;}

#sub-page{ /*margin:-7px 0px 0px 0px;  padding:0px 20px 10px 20px; */
margin:23px 0px 0px 0px;  /*padding:0px 20px 20px 20px;*/
/*background:#fff;*/}
#sub-page h1{ text-align:center;}
#sub-page .sub-top{ background:url(../images/sub-top-wt.html) no-repeat; height:35px; }
#sub-page a{ color:#002f54;}
#sub-page a:hover{ color:#f00;}
#sub-page  h3{color:#000; font-size:13px;width:246px;padding-right:2px;font-weight:bold;}
#sub-page b{color:#FDCB01; font-size:13px;}
#h3{color:#000; font-size:15px;width:280px;padding-right:2px;font-weight:bold;}


/*#sub-page .sub-bot{background:url(../images/sub-bot.png) no-repeat bottom; padding:10px 30px 25px 20px; overflow:hidden;}*/

#sub-page-blank{overflow:hidden; }
#sub-page-blank p{margin: 10px 0px 10px 0px;}
#sub-page-blank h1{ color:#fff; font-size:18px; margin-left:50px; padding-top:3px; }
#sub-page-blank .sub-top{ background:url(../images/sub-top-wt-blank.html) no-repeat; height:35px; }
#sub-page-blank a{ color:#002f54;}
#sub-page-blank a:hover{ color:#f00;}
#sub-page-blank  h3{color:#3e8e09; font-size:16px;}
#sub-page-blank b{color:#FDCB01; font-size:13px;}
#sub-page-blank .sub-bot{background:url(../images/sub-bot.html) no-repeat bottom; /*padding:10px 20px 25px 20px;*/
padding:0px 20px 20px 20px;overflow:hidden;}


#sub-page  .rev { overflow:hidden;}
#sub-page  .rev .left{ background:#000000;  padding:10px; margin-top:20px; text-align:left; width:414px; float:left;}
#sub-page  .rev .left table tr td{ padding:2px;}
#sub-page  .rev .left label{ margin-left:30px; font-weight:bold;}
#sub-page  .rev .left input[type="text"]{width:200px;}
#sub-page  .rev .left select{width:200px;}
#sub-page  input[type="button"]{ /*background-color:#262626; border:none; border-radius:5px; -moz-border-radius:5px;
-webkit-border-radius:5px; padding:5px 10px 5px 10px; margin-left:40px;*/}


#sub-page  .rev .right{ background:#002f54;  padding:10px; margin-top:20px; text-align:left; width:414px; float: right; text-align:center;}
#sub-page  .rev .right h2{color:#f2cd36; margin-bottom:7px; text-align:left;}
#sub-page  .rev .right strong{ color:#FFCC00;}
#sub-page  .rev .right table tr td{ padding:1px; border-bottom:solid 1px #05497f; text-align:left;}
#sub-page .grid{  color:#000;}
#sub-page .grid table{padding-top:15px;}
/*#sub-page .grid table tr:hover{background-color:#fafae0;box-shadow:5px;}*/
#sub-page .grid table tr th { padding:5px; background-color:#B8A689; border-bottom:solid 1px #fff; border-left:solid 1px #fff;font-size:13px ; font-weight:bold; color:#FFFFFF;}
#sub-page .grid table tr td { padding:3px; border:solid 1px #dcdcdc; /*border-bottom:solid 1px #dcdcdc; border-left:solid 1px #ebebeb; sa*/}
.odd { background-color:#f6f6f6;}

.even { background-color:#fff;}
#sub-page .con-left{ width:418px; float:left;}
#sub-page .con-left .phno{background:#002f54; width:418px;  padding:10px; margin-top:20px;}
#sub-page .con-right { width:418px; float:right; margin-right:20px;}
#sub-page .con-right .phno{background:#002f54; width:418px;  padding:10px; margin-top:20px;}
#sub-page  h1 img {}
#sub-page .modifybooking {background: #CCCCCC; padding: 10px; margin-top: 20px; text-align: left; color:#333;height:18px;  }
#sub-page .modifybooking strong{ color:#ff6627; font-size:18px; padding-right:5px;}
#sub-page .modifybooking  a{ background-color:#262626;  padding:5px 10px; color:#000; text-decoration: underline; width:120px; border-radius:5px; text-align:center; color:#000; -moz-border-radius:5px; -webkit-border-radius:5px;font-weight:bold; }

#sub-page .way{ overflow:hidden;  padding:10px 5px 10px 5px; color:#333;}
#sub-page .way .left{ width:435px; float:left;}
#sub-page .way .left img{ margin-left:5px;}
#sub-page .way .left strong{ color:#3366CC;}
#sub-page .way .right{ width:435px; float:right;}
#sub-page .way .right img{ margin-left:5px; margin-right:5px;}
#sub-page .way .right strong{ color:#3366CC;}

#sub-page .oneway{ padding:10px 5px 10px 5px; color:#333 }
#sub-page .oneway img{ margin-left:5px;}
#sub-page .oneway strong{ color:#3366CC;}
#modifybooking-pop { background:#ECECEC; padding:5px 5px 10px 10px;  font-size:12px; display:none; }
#modifybooking-pop {}
/*main page end*/

#sub-page .oneway-con{ padding:15px;color:#333;}
#sub-page .oneway-con h2{ margin-bottom:10px; font-size:14px; }
#sub-page .oneway-con h2.conf{ margin-left:20px ! important;  }
#sub-page .oneway-con h2 strong{ color:#000;}
#sub-page .oneway-con .grid {padding:20px; /*background:#ECECEC;*/}
#sub-page .oneway-con .grid_con {padding:0px ! important; /*background:#ECECEC;*/}
#sub-page .oneway-con .grid table tr td{padding:5px; border-bottom:solid 1px #f4f4f4; text-align:left; }
#sub-page .oneway-con .grid strong{ color:#112637;}
#sub-page .oneway-con  .but{ text-align:center; margin-top:20px;}
#sub-page .oneway-con  h3{ text-align: center; padding:10px 0px 0px 0px; font-size:24px}
#sub-page .oneway-con  table tr td{ color:#333;}

#sub-page .twoway-con { overflow:hidden; color:#333;}
#sub-page .twoway-con  table tr td{ color:#333;}
#sub-page .twoway-con h2{ margin-bottom:10px; font-size:14px;}
#sub-page .twoway-con h2 strong{ color:#3366CC;}
#sub-page .twoway-con .grid {padding:20px; background:#ECECEC;}
#sub-page .twoway-con .grid table tr td{ padding:5px; border-bottom:solid 1px #f4f4f4; text-align:left; border-left: none;}
#sub-page .twoway-con .grid strong{ color:#3366CC;}
#sub-page .twoway-con  .but{ text-align:center; margin-top:20px;}
#sub-page .twoway-con  h3{ text-align: center; padding:10px 0px 0px 0px; font-size:24px}
#sub-page .twoway-con .left{ float:left; width:430px;}
#sub-page .twoway-con .left h2{ margin-bottom:10px; font-size:14px; margin-top:20px;}
#sub-page .twoway-con .right{ float:right; width:430px;}
#sub-page .twoway-con .right h2{ margin-bottom:10px; font-size:14px; margin-top:20px;}


#info-tool{ display:none; background: url(../images/popup.html) no-repeat; padding:40px 5px 5px 10px; width:190px; position:absolute; height:134px; font-size:10px;}
#info-tool h3{  margin-bottom:10px;}
#info-tool strong{ color:#f2cd36;}
#book{ background:#0876B9; width:70px; display:block; padding:5px; color:#000000; /*border-radius:5px;*/ text-align:center; cursor:pointer; 
 }
#book1{ background:#0876B9; width:60px; display:block; padding:5px; color:#FFFFFF; border-radius:5px; text-align:center; cursor:pointer;}
#book11{ background:#f1ae02; width:50px; display:block; padding:5px; color:#000; border-radius:5px; text-align:center; cursor:pointer; -moz-border-radius:5px;
-webkit-border-radius:5px; }
#book-hide{ background:#f1ae02; width:50px; display:block; padding:5px; color:#FFF; border-radius:5px; text-align:center; cursor:pointer; -moz-border-radius:5px;
-webkit-border-radius:5px;}



#soldout{ background:#CCCCCC;; width:50px; display:block; padding:5px; color:#000; border-radius:5px; text-align:center;-moz-border-radius:5px;
-webkit-border-radius:5px; border-bottom:none ! important; }



/*.time{cursor:pointer; display:block;}
.time-tool{ display:none; background:#999 ; padding:5px 5px 10px 10px; width:250px; position:absolute;  font-size:11px; color:#fff; z-index:9999; margin-left:18px;margin-top:31px;}
.time-tool h3{  margin-bottom:10px; font-size:15px;}
.time-tool strong{ color:#f2cd36;}
.time-tool ul{ overflow:hidden; list-style:none; border-bottom: solid 1px #f1f1f1;}
.time-tool ul li.left{  float:left; width:165px; padding:2px;}
.time-tool ul li.right{ float:right; width:50px; padding:2px; }*/

.time{cursor:pointer; /*display:block;*/}
.time-tool{ display:none; background:#FFFFFF; padding:5px 5px 10px 10px; width:250px; position:absolute;  font-size:11px; color:#000; 
z-index:9999;/*border-radius:10px;*/border:1px solid #CCC;}
.time-tool h3{  margin-bottom:10px; font-size:15px;}
.time-tool strong{ color:#785ad9;}
.time-tool ul{ overflow:hidden; list-style:none; border-bottom: dotted 1px #000;}
.time-tool ul li.left{  float:left; width:92px; padding:2px;font-size:11px;}
.time-tool ul li.right{ float:right; width:60px; padding:3px; font-size:11px;}
/*.time-tool:after, .time-tool:before {
right: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.time-tool:before {
border-color: rgba(245, 195, 78, 0);
border-right-color: rgba(10, 7, 8, 0.8);
border-width:15px;
top: 50%;
margin-top: -60px;
}*/

#seat-select-pop { display:none; background:#ECECEC ; padding:5px 5px 10px 10px; width:190px;  font-size:12px; overflow:hide; color:#fff}
#seat-select-pop  table tr td{ }
#seat-select-pop h3{ margin-top:20px; margin-left:20px;}
#seat-select-pop .left{ width:380px; padding:0px 15px 15px 15px; float:left;  margin-top:20px; color:#333;}
#seat-select-pop .left .busseats{ margin:10px 0px 10px 0px; background:#999 ; padding:10px;}
#seat-select-pop .left .busseats .setstop{ overflow:hidden;}
#seat-select-pop .left .busseats a{ background:url(../images/s1.html) no-repeat; width:30px; height:30px; display:block; float:left; margin:2px; }
#seat-select-pop .left .busseats a.Unavailable{ background:url(../images/s3.html) no-repeat; width:30px; height:30px; display:block; float:left; margin:2px; }

#seat-select-pop .left .busseats a.blank{ background:url(../images/s-blank.html) no-repeat; width:30px; height:30px; display:block; float:left; margin:2px; }

#seat-select-pop .left .busseats a:hover.blank{ background:url(../images/s-blank.html) no-repeat; width:30px; height:30px; display:block; float:left; margin:2px; }
#seat-select-pop .left .busseats a:hover.Unavailable{background:url(../images/s3.html) no-repeat;}

#seat-select-pop .left .busseats a.forLadies{ background:url(../images/s4.html) no-repeat; width:30px; height:30px; display:block; float:left; margin:2px; }
#seat-select-pop .left .busseats a:hover.forLadies{background:url(../images/s4.html) no-repeat;}
#seat-select-pop .left .busseats a:hover{ background:url(../images/s2.html) no-repeat; }

#seat-select-pop .left .busberth{ margin:10px 0px 10px 0px; background:#999; padding:10px;}
#seat-select-pop .left .busberth .berthtop{ overflow:hidden;}
#seat-select-pop .left .busberth .berthtop a{ background:url(../images/b_s4.html) no-repeat; width:50px; height:22px; display:block; float:left; margin:4px; }
#seat-select-pop .left .busberth .berthtop a.Unavailable{ background:url(../images/b_s1.html) no-repeat; width:50px; height:22px; display:block; float:left; margin:4px; }
#seat-select-pop .left .busberth .berthtop a:hover.Unavailable{background:url(../images/b_s1.html) no-repeat;}

#seat-select-pop .left .busberth .berthtop a.forLadies{ background:url(../images/b_s3.html) no-repeat; width:50px; height:22px; display:block; float:left; margin:4px; }
#seat-select-pop .left .busberth .berthtop a:hover.forLadies{background:url(../images/b_s2.html) no-repeat;}

#seat-select-pop .left .busberth .berthtop a:hover{ background:url(../images/b_s2.html) no-repeat; }

#seat-select-pop .left .seatsnames{ padding-top:0px;}
#seat-select-pop .left .seatsnames img{ margin-left:7px; margin-right:0px;}

#seat-select-pop .left .berthnames{}
#seat-select-pop .left .berthnames img{ margin:10px 4px 2px 8px;}

#seat-select-pop .right{ width:420px; padding:0px 15px 15px 15px; float:right;margin-top:20px; color:#333;}
#seat-select-pop .right table tr td{padding:5px; border-bottom:solid 1px #f4f4f4; text-align:left; border-left: solid 1px #f4f4f4;}
#seat-select-pop .right table tr td strong{color:#000;font-size:13px;}
#seat-select-pop .right .butalign{ text-align:center; margin-top:20px;}


#seat-select-pop-2way { display:none; background:#ECECEC ; padding:5px 5px 10px 10px;   font-size:12px; overflow:hide; color:#333}
#seat-select-pop-2way h3{ margin-top:20px; margin-left:20px;}
#seat-select-pop-2way .left{  width:400px; padding:0px 15px 15px 15px; margin-top:20px;}
#seat-select-pop-2way .left .busseats{ margin:20px; background:#999; padding:10px;}
#seat-select-pop-2way .left .busseats .setstop{ overflow:hidden;}
#seat-select-pop-2way .left .busseats .setstop a{ background:url(../images/s1.html) no-repeat; width:20px; height:19px; display:block; float:left; margin:5px 5px 0px 5px; }
#seat-select-pop-2way .left .busseats .setstop a:hover{ background:url(../images/s2.html) no-repeat; }
#seat-select-pop-2way .left .busseats .setsbot{ overflow:hidden; margin-top:10px;}
#seat-select-pop-2way .left .busseats .setsbot a{ background:url(../images/s1.html) no-repeat; width:20px; height:19px; display:block; float:left; margin:5px 5px 0px 5px; }
#seat-select-pop-2way .left .busseats .setsbot a:hover{ background:url(../images/s2.html) no-repeat; width:20px; height:19px; display:block; }
#seat-select-pop-2way .left .seatsnames{ padding-top:30px;}
#seat-select-pop-2way .left .seatsnames img{ margin-left:10px; margin-right:5px;}

#seat-select-pop-2way .right{ width:360px; padding:0px 15px 15px 15px;}
#seat-select-pop-2way .right table tr td{ padding:5px; border-bottom:solid 1px #f4f4f4;border-left:solid 1px #f4f4f4; text-align:left;}
#seat-select-pop-2way .right table tr td strong{color:#000}
#seat-select-pop-2way .right .butalign{ text-align:center; margin-top:20px;}


#seat-select-pop-1way { display:none; background:#ECECEC ; padding:5px 5px 10px 10px; width:190px;  font-size:12px; overflow:hide; color:#333}
#seat-select-pop-1way h3{ margin-top:20px; margin-left:20px;}
#seat-select-pop-1way .left{ width:400px; padding:0px 10px 15px 10px;  margin-top:20px;}
#seat-select-pop-1way .left .busseats{  margin:20px; background:#999; padding:10px;}
#seat-select-pop-1way .left .busseats .setstop{ overflow:hidden;}
#seat-select-pop-1way .left .busseats .setstop a{ background:url(../images/s1.html) no-repeat; width:20px; height:19px; display:block; float:left; margin:5px 5px 0px 5px; }
#seat-select-pop-1way .left .busseats .setstop a:hover{ background:url(../images/s2.html) no-repeat; }
#seat-select-pop-1way .left .busseats .setsbot{ overflow:hidden; margin-top:10px;}
#seat-select-pop-1way .left .busseats .setsbot a{ background:url(../images/s1.html) no-repeat; width:20px; height:19px; display:block; float:left; margin:5px 5px 0px 5px; }
#seat-select-pop-1way .left .busseats .setsbot a:hover{ background:url(../images/s2.html) no-repeat; width:20px; height:19px; display:block; }
#seat-select-pop-1way .left .seatsnames{ padding-top:30px;}
#seat-select-pop-1way .left .seatsnames img{ margin-left:10px; margin-right:5px;}

#seat-select-pop-1way .right{ width:360px; padding:0px 15px 15px 15px;   margin-top:20px;}
#seat-select-pop-1way .right table tr td{ padding:5px; border-bottom:solid 1px #f4f4f4; border-left:solid 1px #f4f4f4;text-align:left;}
#seat-select-pop-1way .right table tr td strong{color:#000}
#seat-select-pop-1way .right .butalign{ text-align:center; margin-top:20px;}

#passenger{ overflow:hidden; padding:20px; margin-top:10px;}
#passenger h2{ color:#000; margin-bottom:15px;font-size:18px !important;}
#passenger h3{ color:#000; margin-bottom:15px;font-size:16px !important;}
#passenger .left{ width:650px; float:left;}
#passenger  .left .usercont{ padding:15px; /*background:#ECECEC;*/ border:1px solid #CCCCCC; border-radius:5px; -moz-border-radius:5px;
-webkit-border-radius:5px; }
#passenger .left .usercont p{ font-size:10px;}
#passenger .left .usercont table{ margin-top:10px; }

#passenger  .left .userinfo{ padding:15px 15px 25px 15px; /*background:#ECECEC;*/ margin-top:20px;border:1px solid #CCCCCC; border-radius:5px; -moz-border-radius:5px;-webkit-border-radius:5px;}
#passenger .left .userinfo table{ margin-top:10px; }


#passenger  .left .terms{ padding:15px 15px 25px 15px; /*background:#ECECEC;*/ margin-top:20px;border:1px solid #CCCCCC; border-radius:5px; -moz-border-radius:5px;-webkit-border-radius:5px;}
#passenger  .left .but{ text-align:center; margin-top:20px;}

#passenger .right{ width:310px; float:right;}
#passenger .right .j-details{ padding:15px 15px 25px 15px; /*background:#ECECEC;*/ border:1px solid #CCCCCC; border-radius:5px; -moz-border-radius:5px;
-webkit-border-radius:5px; }
.j-details1{ padding:8px 15px 5px 15px; /*background:#ECECEC;*/ border:0px solid #CCCCCC; border-radius:5px; -moz-border-radius:5px;
-webkit-border-radius:5px;height:22px;width:322px;margin-left:616px; }
#passenger .right strong{ color:#112637;}
#passenger .right table tr td{ padding:2px; border-bottom:solid 1px #f4f4f4; text-align:left; border-left: none;}


#passenger  .right .total{ padding:15px 15px 25px 15px; /*background:#ECECEC;*/ margin-top:20px; border:1px solid #CCCCCC; border-radius:5px; -moz-border-radius:5px;-webkit-border-radius:5px;height:80px;}
#passenger  .right .total b{ font-size:24px; color:#9a1600 }

#confirmation { text-align:center; height:250px; padding:50px}
#confirmation h1{ font-size:30px; color:#f2ce37; }


#main .main-left-sub .left-bot .bot .formtext{
 font-family: 'Open Sans', sans-serif;
 font-size: 12px;
 font-weight: bold;
 height: 25px;
}
#main .main-left-sub .left-bot .bot .formtext1{
 font-family: Arial;
 font-size: 12px;
 font-weight: bold;
 height: 25px;
}
#main .main-left-sub .left-bot .bot .left1 h2{ font-size:13px;  background:#fec600; padding:10px; color:#000; margin-left:88px;margin-right:110px;margin-top:0px;}

#book .noseats	{ display:inline; color:#fff;}
#book .book	{ display:none;color:#000; }
#book:hover .noseats{ display:none;color:#fff; }
#book:hover .book	{ display:inline;color:#fff; }

#book1 .noseats	{ display:inline;color:#fff; }
#book1 .book	{ display:none;color:#fff; }
#book1:hover .noseats{ display:none;color:#fff; }
#book1:hover .book	{ display:inline; color:#fff;}

#form{width:400px;
margin-left:40px;
}
#formtitle{
font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:green;
}
.redText{

color:red;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
font-weight: bold;
height: 25px;
}
.user{
font-family:'Open Sans', sans-serif;
font-size:14px;
   /* font-weight: bold;*/
    color:black;
}
.retbut{
cursor:pointer;
color:#fff;
font-family:'Open Sans', sans-serif;
font-size: 13px;
font-weight: bold;
background-color:#ca384f;
}
#bigButton
 {
    background-color:#262626;
    border: 1px solid #262626;
    border-radius:10px;
    width: 150px;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    height: 28px;
    font-weight: normal;
    text-align: center;
    font-weight: bold;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif;
}

.formtext{
font-family:'Open Sans', sans-serif;
font-size:13px;
color:#000;
}
#formtext{
font-family:'Open Sans', sans-serif;
font-size:13px;
}
.tablesorter{
font-family:'Open Sans', sans-serif;
font-size:13px;
}

.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
.ui-widget{font-size:12px !important;}

.addressborder{
border:1px solid #CCCCCC;
background-color: #FFFFFF;
font-family:'Open Sans', sans-serif;
font-size:13px;
color:#000;
}
.newformtext{
border:1px solid #CCCCCC;
background-color: #FFFFFF;

margin-bottom:4px;
padding:3px 6px; 
font-family:'Open Sans', sans-serif;
font-size:12px;
color:#000;
}


