﻿@charset "utf-8";
/* CSS Document */
body{
	
}
.main-bg{


	background: url(../images/bg-texture.jpg);

	/* For Festival Remove comment for below line
	background: url(../images/bg-texture_festiva.jpg) top center no-repeat;*/
}
.navbar-logo{	
	padding: 2px !important;
	z-index: 1;
	position: absolute;
}
.main-logo{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}
.bus-booking{
	width:465px;
	margin:auto;
	padding:20px;
}
.search-date-width {
	width:49%;
	float:left;
}
.form-search{
	background: url(../images/search-icon.png) no-repeat 8px center;
	padding-left:30px !important;
	height:50px;
	border-radius: 0px;
}
.form-search{
	background-color: #fff;
}
.form-control {
	border:1px solid #dcdcdc !important;
	color:#999 !important;
}
.booking-arrow{
	border:1px solid #bcbcbc !important;
	background:#dcdcdc;
	width:50px;
	height: 50px;
	border-radius: 50%;
	padding:12px;
	float:right;
	z-index: 99;
	position: absolute;
	margin-left:345px;
	margin-top:30px;
}
.form-calender-left{
	background: url(../images/calender-icon.png) no-repeat 5px center;
	padding-left:30px !important;
	margin-right:3px;
	height:40px;
	border-radius: 0px;
}
.form-calender-left{
	background-color:#fff;
}
.form-calender-right{
	background: url(../images/calender-icon.png) no-repeat 5px center;
	padding-left:30px !important;
	margin-left:4px;
	height:40px;
	border-radius: 0px;
	background-color:#fff;
}
.btn-booking{
	margin-top:30px;
	width:225px;
	border-radius: 0px;
	background: #0b78ba;
	color:#fff;
	font-size:20px;
	font-weight: 100;
	border:none;
}
.btn-booking:hover{
	background: #0b78ba;
	color:#f5f5f5;
	border-radius: 0px;
}
.btn-booking:focus{
	background: #0b78ba;
	color:#f5f5f5;
	border-radius: 0px;
}
.main-body{
	background:url(../images/main-body-bg.png) no-repeat center bottom;
	border-bottom:2px solid #dcdcdc;
	padding-bottom: 100px;
		
}

.main-bodytwoway{
	/*background:url(../images/main-body-bg.png) no-repeat center bottom;*/
	border-bottom:2px solid #dcdcdc;
	padding-bottom: 100px;
		
}
.footer-nav-menu{
	margin-top:15px;
	color:#0b78ba;
}
.footer-nav-menu a {
	padding-left:5px;
	padding-right:5px;
	color:#0b78ba !important;
}
.social-icons a{
	margin-left:2px;
	margin-right:2px;
}
.customer-support{
	position: fixed;
    right: 0px;
    top: 200px;
	background: #e9e9e9;
	padding:10px;
	cursor: pointer;
	border: 1px solid #e1e1e1;
}
.phone-icon{
	color:#0b78ba;
	padding-right:10px;
	font-size:25px;
}
.oneway-search{
	padding:15px;
	background: #f5f5f5;
	border:1px solid #f1f1f1;
}
.oneway-search span{
	color:#b2b3b2;
	font-size:15px;
}
.oneway-search h1 {
	font-size:18px;
	margin:0px;
	padding-top:10px;
}
.twoway-search{
	padding:15px;
	background: #f5f5f5;
	border:1px solid #f1f1f1;
}
.twoway-search span{
	color:#b2b3b2;
	font-size:15px;
}
.twoway-search h1 {
	font-size:18px;
	margin:0px;
	padding-top:10px;
}
.date-info{
 	padding-left:10px;
	padding-right:10px;
	font-size:16px;
	margin-top:2px;
}
.right-date-info p{
	font-size:16px;
	color:#0b78ba;
	margin-top:20px;
	/*padding-right:40px;*/
}
/*.right-date-info a {
	text-decoration: none;
}*/

.right-date-info a {
    text-decoration: none;
    background: #337ab7;
    color: #fff;
    padding: 8px 10px;
    /* margin-top: 10px; */
}

.search-filters{
	margin-top:20px;
	background: #e8e8e8;
	padding:2px;
	padding-top:5px;
	border:1px solid #d4d4d4;
}
.search-filters p{
	padding-top:5px;
	font-size:15px;
}
.main-body-min-height {
	min-height: 400px;
}

.search-filters .form-control{
	color:#0b78ba;
	background:#e8e8e8;
	border-radius: 0px !important;
}
.bus-status {
	padding:10px;
	margin-left:-15px;
	margin-right:-12px;
	border:1px solid #d9d9d9;
	margin-top:10px;
}
.bus-status span{
	color:#a1a1a1;
}
.bus-info {
	padding:10px;
	margin-left:-15px;
	margin-right:-12px;
	border:1px solid #d9d9d9;
	margin-top:-1px;
}
.sold-out{
	float:right;
	font-size:15px;
	color:#bbbbbb !important;
}
.bus-available {
	float:right;
	font-size:15px;
	color:#357935 !important;
}
.bus-filling-fast {
	float:right;
	font-size:15px;
	color:#ff4c0d !important;
}
.bus-info h1{
	font-size:18px;
	margin:0px;
	padding:0px;
	float:left;
}
.duration-info{
	float:right;
	font-size:15px;
	color:#a0a0a0;
}
.bus-type{
	float:left;
	width:100%;
	margin-top:15px;
	font-size:14px;
	padding-left:5px;
}
.available-seats{
	float:left;
	color:#b2b3b2;
	padding-left:5px;
	font-size: 15px;
}
.bus-info-left{
	float:left;
	width:100%;
}
.btn-select{
	float:right;
	background: #0b78ba;
	color:#fff;
	padding:8px 20px;
	border:none;
}
.btn-select:hover{
	background: #0b78ba;
	color:#fff;
	padding:8px 20px;
	border:none;
}
.btn-select:focus{
	background: #0b78ba;
	color:#fff;
	padding:8px 20px;
	border:none;
}
.btn-sold-out{
	float:right;
	background: #9d9d9d;
	color:#fff;
	padding:8px 20px;
	border:none;
}
.btn-sold-out:hover{
	background: #9d9d9d;
	color:#fff;
	padding:8px 20px;
	border:none;
}
.btn-sold-out:focus{
	background: #9d9d9d;
	color:#fff;
	padding:8px 20px;
	border:none;
}
.boarding-point{
	width:300px;
}
.boarding-point-icon{
	float:left;
	font-size:15px;
	margin-top:5px;
	padding-right:10px;
}
.boarding-point-bg{
	text-align: center;
	width:100%;
}
.form-bording-point{
	background: #fff !important;
}
.search-inactive{
	background:#fff;
	color:#646464 !important;
}
.search-inactive h1{
	background:#fff;
	color:#b2b3b2 !important;
}
.bus-seat-booking{
	background:#f8f8f8;
	border:1px solid #d2d2d2;
	min-height:400px;
	margin-top:20px;
	margin-bottom: 10px;
	overflow:hidden;
}
.seat-search-arrow-right{
	width:30px;
	margin-top:-19px;
	margin-right:180px;
	float:right;
}
.seat-search-arrow-center{
	width:30px;
	margin-top:-19px;
	margin-left:580px;
	text-align:center !important;
}
.seat-search-arrow-left{
	width:30px;
	margin-top:-19px;
	margin-left:180px;
	float:left;
}
.seat-search-active{
	border:1px solid #0b78ba;
}



.sidenav img {
    padding: 5px;
    border: 1px solid #f5f5f5;
}

/* Sidenave Customer Care*/

.sidenav {
    height: 252px;
    width: 0;
    position: fixed;
    z-index: 99;
    margin-top: 130px;
    right: 0;
	margin-right:43px;
    background-color: #e8e8e8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav p{
	padding:2px;
	font-size:14px;
	text-align: left;
	padding-left:20px;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*Login Popup */
@import url(http://fonts.googleapis.com/css?family=Open%20Sans);

* {
    font-family: 'Open Sans', sans-serif;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}
.navbar-center{
	padding-left:300px;
}
.navbar-main {
	background: Blue;
}
footer{
	background: #fff;
}



.navbar-default .navbar-nav > li > a {
    color: white !important;
    font-family:Arial, Helvetica, sans-serif;
}

.ui-widget{font-size:12px !important;}
.ui-datepicker{z-index:9999 !important;}


.error{
background: #FF0000;
    opacity: 0.9;
	border-radius: 5px;
	border:1px solid #AAAAAA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	display: none;
	position: relative;
	margin-bottom:10px;
}
.error:after, .error:before { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 

.error:before { border-color: rgba(255, 0, 0, 0); border-top-color: #FF0000; border-width: 10px; left: 12%; margin-left: 40px; }

.error1{
background: #FF0000;
    opacity: 0.9;
	border-radius: 5px;
	border:1px solid #AAAAAA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	display: none;
	position: relative;
	margin-bottom:10px;
}
.error1:after, .error1:before { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 

.error1:before { border-color: rgba(255, 0, 0, 0); border-top-color: #FF0000; border-width: 10px; left: 12%; margin-left: 315px; }

.error2{
background: #FF0000;
    opacity: 0.9;
	border-radius: 5px;
	border:1px solid #AAAAAA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	display: none;
	position: relative;
	margin-left:65px;
	width:383px;
	
}
.error2:after, .error2:before { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 

.error2:before { border-color: rgba(255, 0, 0, 0); border-top-color: #FF0000; border-width: 10px; left: 12%; margin-left: 80px; }

.error3{
background: #FF0000;
    opacity: 0.9;
	border-radius: 5px;
	border:1px solid #AAAAAA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	display: none;
	position: relative;
	margin-left:65px;
	width:383px;
	
}
.error3:after, .error3:before { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 

.error3:before { border-color: rgba(255, 0, 0, 0); border-top-color: #FF0000; border-width: 10px; left: 12%; margin-left: 138px; }

.bord
{
	border:1px solid #FF3333;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9DFDF), to(#FEFAFA));
	background-image: -webkit-linear-gradient(center top, #F9DFDF, #FEFAFA);
	background-image:    -moz-linear-gradient(center top, #F9DFDF, #FEFAFA);
	background-image:      -o-linear-gradient(center top, #F9DFDF, #FEFAFA);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9DFDF', endColorstr='#FEFAFA');
    zoom:1;
	/* ie8 + */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9DFDF', endColorstr='#FEFAFA')";
	/* ie10 */
	background-image: -ms-linear-gradient(#F9DFDF, #FEFAFA);  

}


/*Footer end*/

#retriev_background{
background:#fff;
border-radius:10px;
width:700px;
margin-left:115px;
margin-right:0px;
padding-left:30px;
padding-right:0px;
padding-top:10px;
padding-bottom:0px;
margin-bottom:10px;
margin-top:5px;
color:#000;
border:2px solid #989898;
}
#ret_but {
    background: #0876B9;
    border: 2px solid #0876B9;
    /*border-radius:5px;*/
    color: #fff;
    cursor: pointer;
    display: block;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: normal;
    width: 140px;
}

#conf_but {
    background: #0876B9;
    border: 2px solid #0876B9;
    /*border-radius:5px;*/
    color: #fff;
    cursor: pointer;
   
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: normal;
    width: 140px;
}
#pri_but {
    background: #0876B9;
    border: 2px solid #0876B9;
    /*border-radius:5px;*/
    color: #fff;
    cursor: pointer;
    display: block;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: normal;
    width: 100px;
}
#cancelation_background{
background:#fff;
border-radius:10px;
width:750px;
margin-left:90px;
margin-right:0px;
padding-left:40px;
padding-right:0px;
padding-top:10px;
padding-bottom:10px;
margin-bottom:0px;
margin-top:5px;

color:#000;
border:2px solid #989898;
}
#can_but {
   background: #0876B9;
    border: 2px solid #0876B9;
    border-radius:5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: normal;
    width: 160px;
}
#cancel { overflow:hidden;}
#cancel .left{ width:500px; float:left;margin-top:15px; }
#cancel .right{ width:440px; float:right;margin-top:25px;}

#cancel .right table{ margin-top:10px;}
#cancel .right td{ padding:5px;}
.user5
{
font-family:'Open Sans', sans-serif;
font-size:14px; 
color:#000;
}
.formtext19
{
font-family:'Open Sans', sans-serif;
font-size:14px; 
color:#000;
}
.formtext20
{
font-family:'Open Sans', sans-serif;
font-size:14px; 
color:#000;
}
.form44
{
border:1px solid #CCCCCC;
background-color: #FFFFFF;
/*border-radius:4px;*/
font-size:13px; 
font-family:'Open Sans', sans-serif;

}
.formtext2
{
font-family:'Open Sans', sans-serif;
font-size:13px; 
color:#000;
}
.formtext3
{
font-family:'Open Sans', sans-serif;
font-size:13px; 
color:#000;
}

.user
{
font-family:'Open Sans', sans-serif;
font-size:14px; 
color:#000;
}
.details
{
font-family:'Open Sans', sans-serif;
font-size:13px; 
color:#000;
}
#errormsg
{
font-family:'Open Sans', sans-serif;
font-size:14px; 
color:#f00;
}
.redText{
color:red;
font-family:'Open Sans', sans-serif;
font-size: 12px;
font-weight: bold;
height:35px;
}
.user33
{
font-family:'Open Sans', sans-serif; 
font-size:18px; 
color:#2C0921;
}
.form45
{
border:1px solid #CCCCCC;
background-color: #f6f6f6;
border-radius:4px;
font-size:13px; 
font-family:'Open Sans', sans-serif;

}
.mycls {
    border: 1px dotted #CCCCCC;
}

.jurnydetails {
    border-bottom: 1px solid #b2b2b2;
    border-top: 1px solid #b2b2b2;
    padding: 10px 0;
}

.buslayout{
  
    padding:10px;
	margin:20px;

}

.leftlayout{
      margin: 5px;
    
    padding: 5px;
    
	width: 48%;
    float: left;
}

.rightlayout{
  width: 43%;
    float: right;
	margin:30px;
	

}
.seatCell{
  padding: 1px;
}
.leftlay{
padding:30px;
background: #fff;

border: 1px solid #dcdcdc;
overflow:hidden;
}
.sublay{
    padding: 30px;
    border: 1px dashed #dcdcdc;
    padding-left: 60px;
	overflow:hidden;
}

.rightdetail{


}
.rightdetail td{

    padding:5px;
}

.bordercheck{
   
      border-radius:0px !important;

}
#bigButtn
 {
    background-color:#0B78BA;
    border:none;   
    width: 200px;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    height: 40px;
	padding:8px 20px;
    font-weight: normal;
    text-align: center;
    font-weight: bold;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif;
}


#wrapper{ width:1000px; margin:auto;}
#page-sub {margin:auto; overflow:hidden;  width:1170px; background:#FFF; border:solid 1px #CCC; -webkit-border-radius:0px; -moz-border-radius:0px; margin-bottom:0px;  }
#page-sub h1 {height:50px; width:250px; display:block; color:#034971; font-size:20px; margin-top:10px; margin-left:40px; margin-bottom:-20px; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-weight:bold;}
#page-sub h2{ text-align:center; font-size:16px;}
#page-sub .cont{ padding:10px 10px 10px 10px; font-size:14px; width:1100px; margin:0px  auto 0px auto; overflow:hidden; min-height:400px;}
#page-sub .cont p{ margin:10px 5px 10px 5px;}
#page-sub .steps123{ text-align:center; padding-top:20px; padding-left:15px;}

#page-sub .cont ul { margin-left:20px}
 
#page-sub .top{ height:45px; width:979px;}
#page-sub .mid{ background:#024c79; width:938px; margin-left:1px; overflow:hidden; padding:20px;}
#page-sub  .mid h1{ background:url(../images/charminartravels_images/bg_title-left.html) no-repeat; height:49px; width:339px; display:block; color:#000; font-size:20px; padding:10px 5px 5px 15px; margin:-10px 0px 0px -30px; position:absolute;} 
#page-sub .mid .contant{ margin-top:50px; color:#fff;}
#page-sub .mid p{ margin:10px 10px 10px 10px ;}
#page-sub .bot{ background:url(../images/charminartravels_images/bg_page_bot.html) no-repeat; height:45px; width:979px;}
#page-sub .mid-full{background:#024c79; width:938px; margin-left:1px; overflow:hidden; padding:20px; color:#fff;}





/*Banner End*/

#page-sub #contact{ overflow:hidden; padding:40px; width:900px; margin:auto;}
#page-sub #contact .left{ width:450px; float:left; margin-top:30px;}
#page-sub #contact .right{ width: 450px; float:right; margin-right:20px;}
#page-sub #contact h3{ color:#2d6a00; font-weight:bold;}

.passengerinfo{

    width:1024px;
	margin:auto;

}

.contabt{
   
     border:1px solid #CCC;
	 margin-top:20px;
	 margin-bottom:20px;
	 padding:20px;

}
.contabt-bg{

background:url(../images/aboutus.png) no-repeat top center;

}
.contabt h1{

font-size:18px;
margin-bottom:10px;


}
.botmbrder{
   
    height:1px;
	width:300px;
	background:#CCC;

}
.abhibus {
	float:right;
	z-index:99;
	margin-top:-80px;
}

.contbg{
    background:#FFF;
 
}

.contabtht{
   
    
	 min-height:450px;
	 background-color:#FFF ! important;

}

.paxinfo td{

   padding:5px;

}

.btn-back{
	margin:10px;
	background: #0b78ba;
	color:#fff;
	padding:8px 10px;
	border:none;
	vertical-align:center;
}
.btn-back:hover{
	background: #0b78ba;
	color:#fff;
	padding:8px 10px;
	border:none;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.2;
}
.modify-width{
	height:40px !important;
	margin-right:20px;
}
.btn-modify{
	float:right;
	background: #0b78ba;
	color:#fff;
	padding:8px 20px;
	border:none;
}
.btn-modify:hover{
	background: #0b78ba;
	color:#fff;
	padding:8px 20px;
	border:none;
}
.btn-modify:focus{
	background: #0b78ba;
	color:#fff;
	padding:8px 20px;
	border:none;
}
.modify-search{
	border:1px solid #dcdcdc;
	padding:5px;
	
}

.sitemap{
	background: url(../images/sitemap-tree.png) no-repeat top center;
}
.site-map-height{
	height: 550px;	
}
.site-map-height a{
	font-size:15px;
	color:#0b78ba;
	text-decoration: none;
}
.site-map-height a:hover{
	font-size:15px;
	color:#777;
	text-decoration: none;
}
.sitemap-tree{
	margin-top:30px;
}
.sitemap-tree-1{
	margin-top: 16px;
    padding-right: 84px;
}
.sitemap-tree-2{
	margin-top: 16px;
    padding-left: 90px;
}
.sitemap-tree-3{
	margin-top:10px;
	padding-right: 140px;
}
.sitemap-tree-4{
	margin-top:10px;
	padding-left: 142px;
}
.sitemap-tree-5{
	margin-top: 57px;
    padding-right: 170px;
}
.sitemap-tree-6{
	    margin-top: 57px;
    padding-left: 176px;
}
.sitemap-tree-7{
	margin-top: 28px;
    padding-right: 51px;
}
.sitemap-tree-8{
	margin-top: 28px;
    padding-left: 30px;
}
.sitemap-tree-9{
	    margin-top: -13px;
    padding-right: 147px;
}
.sitemap-tree-10{
	    margin-top: -13px;
    padding-left: 153px;
}
.sitemap-tree-11{
	    margin-top: 35px;
    padding-right: 82px;
}
.sitemap-tree-12{
	margin-top: 35px;
    padding-left: 90px;
}
.sitemap-tree-13{
	margin-top:45px;
	
}
.sitemap-tree-13{
	font-size:20px;
	color:#0b78ba;
	
}
.sitemap-tree-14{
	margin-top:10px;
	padding-left: 142px;
}

.noservicebrd{

    padding:30px;
	border:1px solid #CCC;
	margin-top:30px;
	min-height:450px;
}


.btn-login{
    background: #0b78ba;
    color:#fff;
    padding:8px 20px;
    border:none;
    width:200px;
}
.btn-login:hover{
    background: #0b78ba;
    color:#fff;
    padding:8px 20px;
    border:none;
}
.btn-login:focus{
    background: #0b78ba;
    color:#fff;
    padding:8px 20px;
    border:none;
}
.form-horizontal  input[type=password] {
    margin-top: 0px ! important;
}

.mainpage-banner-left {
    /*position: absolute;
    margin-top: -170px;
    margin-left: -550px;
    z-index: 9;*/
	position: absolute;
    z-index: 9;
    margin-top: 21px;
    margin-left: 60px;
}
/*.mainpage-banner-right {
    position: absolute;
    margin-top: 45px !important;
    margin-left: 213px !important;
    z-index: 10;
    width: 354px;
    height: 292px;
    
}*/


.mainpage-banner-right {
    margin-top: 45px !important;
    z-index: 10;
    width: 354px;
    height: 292px;
    float: right;
}

.main-right-tr{
	font-size:28px;
	/*font-style: italic;*/
	font-weight: 300;
	color:#0b78ba;
}
.android-app-icon{
	margin-right:10px;
}
.ios-app-icon {
	margin-left:10px;
}
.mainpage-banner-right p{
	font-size:16px;
	color:#555;
}
.mainpage-banner-right h3{
	color:#333;
}
.tablecn{

    width: 200px;
    height: 34px;
    margin-left: 5px;
	margin-bottom: 5px;

}

.contabtht1{
    background:#FFF ! important;

}

.carousel-indicators { bottom:-30px}
.carousel-indicators .active{background:#218f46;}
.carousel-indicators li {
   display: inline-block;
   width: 10px;
   height: 10px;
   margin: 1px;
   text-indent: -999px;
   cursor: pointer;
   background-color: #fff;
   border: 1px solid #fff;
   border-radius: 10px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    line-height: 33px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
   border: 1px solid #CCC;
   font-weight: normal;
   color: #ffffff;
   font-size:14px !important;
       position:absolute!important ;
   z-index:0 !important;
   width:425px;
   height:40px !important;
   line-height:36px!important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
   border: 1px solid #dad55e;
   background: #fffa90;
   color: #777620;
   width: inherit;
   position: relative !important;
   line-height: 17px!important;
   height: 22px!important;
   font-size: 12PX !IMPORTANT;
}
#pri_but1 {
   background: #0876B9;
   border: 2px solid #0876B9;
   /*border-radius:5px;*/
   color: #fff;
   cursor: pointer;
   display: block;
   font-family:'Open Sans', sans-serif;
   font-size: 14px;
   font-weight: bold;
   height: 30px;
   line-height: normal;
  
}


/****** Mobile App Download Popup ******/
/****** Andoird App MODAL ******/

.loginmodal-container {
  padding: 20px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
	margin-top: 150px;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  margin:0px;
	margin-top:30px;
  
  font-family: roboto;
	
}
.loginmodal-container h3 {
	font-size:20px;
	margin:0px;
	margin-top:1em;
	margin-bottom: 5px;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 6px 20px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


